<div class="row">

     <div class="col-md-6">
  
   <table>
            <thead>
            <th>
             <h1>Movies</h1>  
            </th>
            </thead>
  <tbody>
      <tr *ngFor="let mov of movies" (click)="DisplaySideView(mov.name,mov.imageUrl,mov.language,mov.type)">
                <td>
                  <h4>{{mov.name}}</h4>
                   <p>{{mov.type}}</p>
                
                </td>
                 
                <td></td>
 </tr>

  </tbody>

   </table>
    </div>
 

<div  class="col-md-4" *ngIf="ShowSideView">
<table>
        <thead>
                <th>
                    <h1> Details</h1> 
                </th>
         </thead>
   <tbody>
<tr>

<td>
        <h4> Movie Name:</h4><p>{{movieName}}</p> 
        <h4> Language:</h4><p>{{mlanguage}} </p> 
        <h4> Type :</h4><p> {{mtype}} </p> 
</td>
</tr>

<tr>
<td><td> <img src={{imagePath}} style="width:200px" class="img-responsive" /></td>

</tr>


  </tbody>

</table>


 </div> 

</div>